.cardProject {
    background-color: #fff;
    padding: 20px;
    margin: 9px;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .cardProject:hover {
    transform: scale(1.19);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .flexContainer {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .image:hover {
    transform: scale(1.24); 
    filter: brightness(1.1); 
  }
  .textContainer {
    flex: 1;
  }
  